@(
  user: services.user.User
)(implicit messages: Messages, flash: Flash, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <title>Annotation</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/document/annotation/text/index.css")"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/settings/index.css")"/>
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
    @Html(webJarsUtil.script("jquery-ui.min.js"))
    <!-- @Html(webJarsUtil.requireJs(routes.Assets.versioned("javascripts/my/settings/place.js"))) -->
    <style type="text/css">
      .annotations table td span {
        margin-left: 10px;
        margin-right: 2px;
        margin-top: 2px;
        background-color: rgb(7, 55, 99);
        color: white;
        border: none;
        cursor: pointer;
        padding: 2px 12px 3px 12px;
        text-decoration: none;
      }
      .annotations table tr {
        height: 30px;
      }
      .annotations table tr td{
        padding: 5px;
      }
    div.ui-dialog{color: #3c763d;background-color: #dff0d8;padding:10px;}
    .ui-dialog-titlebar-close{float:right;}
    .ui-dialog-titlebar{color: black;font-size:20;}
    .overwriteTip{border: 1px solid #c5c5c5;background: #ffffff;color: #333333;padding: 0px 5px;}
    .ui-dialog-buttonset button.ui-button{color: #454545;text-decoration: none;background: #f6f6f6;margin: .5em .4em .5em 0;cursor: pointer;}
    .ui-dialog-titlebar.ui-widget-header {display: none;}
    .input--style-1 {
        width: 280px;
    }
    </style>
  </head>

  <body>
    <div class="sidebar">
      @views.html.sidebarHeader(user.record)

      <ul class="menu">
        <li>
          <a href="@controllers.my.settings.routes.AccountSettingsController.index">
            <span class="label">@messages("account_settings.sidebar.account")</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.PasswordSettingsController.index" onclick="return false;">
            <span class="label">@messages("account_settings.sidebar.password")</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.RestoreController.index">
            <span class="label">@messages("account_settings.sidebar.restore")</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.PlaceController.index" onclick="return false;">
            <span class="label">Place</span>
          </a>
        </li>

        <li class="active">
          <a href="#">
            <span class="label"><span class="label">Annotation</span></span>
          </a>
        </li>
      </ul>
    </div>

    <div class="content">

      <div class="panel password-settings">
        <h2>Manage Annotations</h2>
        @flash.get("success").map { msg =>
          <div class="success flash-message"><span class="icon">&#xf00c;</span> @msg</div>
        }
        @flash.get("error").map { msg =>
          <div class="error flash-message"><span class="icon">&#xf00d;</span> @msg</div>
        }
        
        <div class="annotations">
          <table>
          </table>
        </div>
      </div>

    </div>
    <script type="text/javascript">
      function showStatus (msg) {
        var showMsg = jQuery(
        '<div class="msg">' +
          msg +
        '</div>');
        showMsg.dialog({
            autoOpen: false,
            draggable: false,
            resizable: false,
            show: {
                effect: 'fade',
                duration: 1000
            },
            hide: {
                effect: 'fade',
                duration: 1000
            },
            open: function(){
                $(this).dialog('close');
            },
            close: function(){
                $(this).dialog('destroy');
            }
        });
        showMsg.dialog();
        location.reload();
      }
      var annotations = $(".annotations");
      $.ajax({type: 'POST', url:document.location.origin + "/settings/getAnnotations", data: JSON.stringify({"username":$(".to-index h1").text()}),contentType: 'application/json'}).done(function(data) {
        if (data.length > 0){
          $(".annotations table tr").remove();
          $(".annotations table").append("<tr><td>#</td><td>Annotation</td><td>File</td><td>Start Date</td><td>End Date</td><td></td></tr>");
          $.each(data, function(i, annotation) {
            $(".annotations table").append("<tr><td>"+(i+1)+"</td><td>"+annotation.name + "</td><td>" + annotation.file+"</td><td>"+annotation.startDate+"</td><td>"+annotation.endDate+"</td><td><span class='edit'>Edit</span><span class='delete'>Delete</span><span class='unionId' hidden>"+annotation.id+"</span><span hidden class='item'>"+JSON.stringify(annotation)+"</span></td></tr>");
          });
          $(".annotations table tr").on( "click", ".edit", function() {
            var edit = $(this);
            var json = JSON.parse(edit.next().next().next().text())
            var addPlace = jQuery('<div class="add-place"><div class="card-1"><div class="card-body">' +
            '<b class="title">Update Annotation </b><span style="font-size:12px; color:gray;">Fileds with * are required</span>'+
            '<div class="input-group"><input class="input--style-1 title2" type="text" placeholder="Place Name*" disabled value="'+json.name+'" required></div>'+
            '<div class="input-group"><input class="input--style-1 annotationId" type="text" placeholder="Annotation Id" disabled value="'+json.id+'" required></div>'+
            '<div class="input-group"><input class="input--style-1 js-datepicker startDate" type="text" placeholder="Timespan Start yyyy-mm-dd" value="'+json.startDate+'"></div>'+
            '<div class="input-group"><input class="input--style-1 js-datepicker2 endDate" type="text" placeholder="Timespan End yyyy-mm-dd" value="'+json.endDate+'"></div>'+
            '<div class="p-t-20"><button class="btn btn--radius btn--red btn-cancel-place">Cancel</button>'+
            '<button class="btn btn--radius btn--green add-place-submit">Submit</button></div>'+
            '</div></div></div>'+
            // '<div><button class="btn-add-place">Create Place</button></div>' +
          '</div>');
        // $(".startDate" ).datepicker({
        //   dateFormat: 'yy-mm-dd',
        //   changeMonth: true,
        //   changeYear: true,
        //   showOn: "button",
        //   buttonImage: "https://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
        //   buttonImageOnly: true,
        //   buttonText: "Select date",
        //   forceParse: false
        // });
        // $(".endDate" ).datepicker({
        //   dateFormat: 'yy-mm-dd',
        //   changeMonth: true,
        //   changeYear: true,
        //   showOn: "button",
        //   buttonImage: "https://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
        //   buttonImageOnly: true,
        //   buttonText: "Select date",
        //   forceParse: false
        // });
        addPlace.dialog();
        addPlace.on('click', '.add-place-submit', function() {
        var overwriteTip = jQuery(
            '<div class="overwriteTip">' +
              'If you edit this record it will update the annotation. Do you wish to continue?' +
            '</div>');
            overwriteTip.dialog({
              resizable: false,
              height: "auto",
              width: 400,
              modal: true,
              buttons: {
                "Continue": function() {
                  var title = addPlace.find(".title2").val(),
                  from = addPlace.find(".startDate").val(),
                  to = addPlace.find(".endDate").val(),
                  id = addPlace.find(".annotationId").val();
                  var jsonData = {'title':title, 'from': from, 'to': to,'id':id,'username':$(".to-index h1").text()};
                  $.ajax({type: 'POST', url:document.location.origin + "/settings/updateAnnotation", data: JSON.stringify(jsonData),contentType: 'application/json'}).done(function(data) {
                    showStatus(data);
                  });
                  $( this ).dialog( "close" );
                },
                Cancel: function() {
                  $( this ).dialog( "close" );
                }
              }
            });
          });
        
        addPlace.on( "click", ".btn-cancel-place", function() {
          addPlace.remove();
        });
          });
          
          $(".annotations table tr").on( "click", ".delete", function() {
            var edit = $(this);
            var id = edit.next().text();
            // delete entity by unionId
            var overwriteTip = jQuery(
            '<div class="overwriteTip">' +
              'Are you sure to delete this annotation?' +
            '</div>');
            overwriteTip.dialog({
              resizable: false,
              height: "auto",
              width: 400,
              modal: true,
              buttons: {
                "Continue": function() {
                  $.ajax({type: 'POST', url:document.location.origin + "/settings/deleteAnnotation", data: JSON.stringify({"id":id,"username":$(".to-index h1").text()}),contentType: 'application/json'}).done(function(data) {
                    showStatus(data);
                  });
                  $( this ).dialog( "close" );
                },
                Cancel: function() {
                  $( this ).dialog( "close" );
                }
              }
            });
            // delete annotations by unionId
          });
        }
      })
    </script>
  </body>
</html>
