@(
  user: services.user.User
)(implicit messages: Messages, flash: Flash, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <title>Place</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/settings/index.css")"/>
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
    @Html(webJarsUtil.script("jquery-ui.min.js"))
    <style type="text/css">
      .places table td span {
        margin-left: 10px;
        margin-right: 2px;
        margin-top: 2px;
        background-color: rgb(7, 55, 99);
        color: white;
        border: none;
        cursor: pointer;
        padding: 2px 12px 3px 12px;
        text-decoration: none;
      }
      .places table tr {
        height: 30px;
      }
      .annotations table tr td{
        padding: 10px;
      }
    div.ui-dialog{color: #3c763d;background-color: #dff0d8;padding:10px;}
    .ui-dialog-titlebar-close{float:right;}
    .ui-dialog-titlebar{color: black;font-size:20;}
    .overwriteTip{border: 1px solid #c5c5c5;background: #ffffff;color: #333333;padding: 0px 5px;}
    .ui-dialog-buttonset button.ui-button{color: #454545;text-decoration: none;background: #f6f6f6;margin: .5em .4em .5em 0;cursor: pointer;}
    .input--style-1 {
        width: 300px;
    }
    .ui-dialog-titlebar.ui-widget-header {display: none;}
    .content .panel {
      max-width: 1300px;
    }
    </style>
  </head>

  <body>
    <div class="sidebar">
      @views.html.sidebarHeader(user.record)

      <ul class="menu">
        <li>
          <a href="@controllers.my.settings.routes.AccountSettingsController.index">
            <span class="label">@messages("account_settings.sidebar.account")</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.PasswordSettingsController.index" onclick="return false;">
            <span class="label">@messages("account_settings.sidebar.password")</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.RestoreController.index">
            <span class="label">@messages("account_settings.sidebar.restore")</span>
          </a>
        </li>

        <li class="active">
          <a href="#" onclick="return false;">
            <span class="label">Place</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.PlaceController.annotation">
            <span class="label"><span class="label">Annotation</span></span>
          </a>
        </li>
      </ul>
    </div>

    <div class="content">

      <div class="panel password-settings">
        <h2>Manage Places</h2>
        @flash.get("success").map { msg =>
          <div class="success flash-message"><span class="icon">&#xf00c;</span> @msg</div>
        }
        @flash.get("error").map { msg =>
          <div class="error flash-message"><span class="icon">&#xf00d;</span> @msg</div>
        }
        
        <div class="places">
          <table>
          </table>
          <button class="btn btn--radius btn--red btn-add-place">Add Place</button>
          <button class="btn btn--radius btn--red btn-import-place">Import Place</button>
          <button class="btn btn--radius btn--red btn-export-place">Export Place</button>
        </div>
      </div>

    <input id="csvBtn" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none">
    </div>
    <script type="text/javascript">
      function showStatus (msg) {
        var showMsg = jQuery(
        '<div class="msg">' +
          msg +
        '</div>');
        showMsg.dialog({
            autoOpen: false,
            draggable: false,
            resizable: false,
            show: {
                effect: 'fade',
                duration: 1000
            },
            hide: {
                effect: 'fade',
                duration: 1000
            },
            open: function(){
                $(this).dialog('close');
            },
            close: function(){
                $(this).dialog('destroy');
            }
        });
        showMsg.dialog();
        location.reload();
      }
      var places = $(".places");
      $.ajax({type: 'POST', url:document.location.origin + "/settings/getPlaces", data: JSON.stringify({"username":$(".to-index h1").text()}),contentType: 'application/json'}).done(function(response) {
        // console.log( data + " " + textStatus );
        // var data = response.items;
        var data = response
        if (data.length > 0){
          // get place by unique annotaiton
          // var annotations = [];//jQuery.unique(data);//JSON.parse(data)
          // $.each(data, function(i, annotation) {
          //   annotations.push(JSON.stringify(annotation));
          // });
          // // annotations = jQuery.unique(annotations);
          // annotations = new Set(annotations);
          // var uniqueAnnotations = [];
          // annotations.forEach(function display(value1,value2) {
          //   uniqueAnnotations.push(JSON.parse(value1));
          // });
          var username = $(".to-index h1").text();
          var ind = 0;
          $(".places table tr").remove();
          $(".places table").append("<tr><td>#</td><td>Name</td><td>URI</td><td>Latitude</td><td>Longitude</td><td>Country</td><td>Description</td><td>StartDate</td><td>EndDate</td><td>Alternate Names</td><td></td></tr>");
          $.each(data, function(i, record) {
            var annotation = record;
            // var annotation = record[0];
            if (username == annotation.user) {
              ind = ind + 1;
            $(".places table").append("<tr><td>"+(ind)+"</td><td>"+annotation.name + "</td><td>" + annotation.uri+"</td><td>"+annotation.lat + "</td><td>"+annotation.lon + "</td><td>"+annotation.country + "</td><td>"+annotation.description + "</td><td>"+annotation.startDate + "</td><td>"+annotation.endDate + "</td><td>"+annotation.altNames + "</td><td><span class='edit'>Edit</span><span class='delete'>Delete</span><span class='unionId' hidden>"+annotation.id+"</span><span hidden class='placeItem'>"+JSON.stringify(annotation)+"</span></td></tr>");
            }
          });
          $(".places table tr").on( "click", ".edit", function() {
            var edit = $(this);
            var json = JSON.parse(edit.next().next().next().text())
            var addPlace = jQuery('<div class="add-place"><div class="card-1"><div class="card-body">' +
            '<b class="title">Update Place </b><span style="font-size:12px; color:gray;">Fileds with * are required</span>'+
            '<div class="input-group"><input class="input--style-1 title2" type="text" placeholder="Place Name*" disabled value="'+json.name+'" required></div>'+
            '<div class="input-group"><input class="input--style-1 uri" type="text" placeholder="Place URI" value="'+json.uri+'" required></div>'+
            '<div class="input-group"><input class="input--style-1 latitude" type="text" placeholder="Latitude*" required value="'+json.lat+'"></div>'+
            '<div class="input-group"><input class="input--style-1 longitude" type="text" placeholder="Longitude*" required value="'+json.lon+'"></div>'+
            '<div class="input-group"><input class="input--style-1 country" type="text" placeholder="Country Code" value="'+json.country+'"></div>'+
            '<div class="input-group"><input class="input--style-1 description" type="text" placeholder="Place Description" value="'+json.description+'" required></div>'+
            '<div class="input-group"><input class="input--style-1 js-datepicker startDate" type="text" placeholder="Timespan Start yyyy-mm-dd" value="'+json.startDate+'"></div>'+
            '<div class="input-group"><input class="input--style-1 js-datepicker2 endDate" type="text" placeholder="Timespan End yyyy-mm-dd" value="'+json.endDate+'"></div>'+
            '<div class="input-group"><input class="input--style-1 altNames" type="text" placeholder="Alternate Names" value="'+json.altNames+'" required></div>'+
            '<div class="input-group"><input class="input--style-1 annotationId" type="text" hidden value="'+json.id+'"></div>'+
            '<div class="p-t-20"><button class="btn btn--radius btn--red btn-cancel-place">Cancel</button>'+
            '<button class="btn btn--radius btn--green add-place-submit">Submit</button></div>'+
            '</div></div></div>'+
          '</div>');
        // $(".startDate" ).datepicker({
        //   dateFormat: 'yy-mm-dd',
        //   changeMonth: true,
        //   changeYear: true,
        //   showOn: "button",
        //   buttonImage: "https://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
        //   buttonImageOnly: true,
        //   buttonText: "Select date",
        //   forceParse: false
        // });
        // $(".endDate" ).datepicker({
        //   dateFormat: 'yy-mm-dd',
        //   changeMonth: true,
        //   changeYear: true,
        //   showOn: "button",
        //   buttonImage: "https://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
        //   buttonImageOnly: true,
        //   buttonText: "Select date",
        //   forceParse: false
        // });
        addPlace.on( "click", ".btn-cancel-place", function() {
          $(this).closest('.ui-dialog-content').dialog('close');
        });
        addPlace.dialog();
        addPlace.on('click', '.add-place-submit', function() {
        var overwriteTip = jQuery(
            '<div class="overwriteTip">' +
              'If you edit this record it may affect others who have used it. Do you wish to continue?' +
            '</div>');
            overwriteTip.dialog({
              resizable: false,
              height: "auto",
              width: 400,
              modal: true,
              buttons: {
                "Continue": function() {
                  var title = addPlace.find(".title2").val(),
                  from = addPlace.find(".startDate").val(),
                  to = addPlace.find(".endDate").val(),
                  lat = addPlace.find(".latitude").val(),
                  lon = addPlace.find(".longitude").val(),
                  uri = addPlace.find(".uri").val(),
                  country = addPlace.find(".country").val(),
                  description = addPlace.find(".description").val(),
                  altNames = addPlace.find(".altNames").val(),
                  id = addPlace.find(".annotationId").val();
                  
                  var jsonData = {'title':title, 'lat':parseFloat(lat), 'lon':parseFloat(lon), 'from': from, 'to': to,'id':id, 'uri':uri, 'country':country, 'description':description, 'altNames':altNames,'username':$(".to-index h1").text()};
                  $.ajax({type: 'POST', url:document.location.origin + "/settings/updatePlace", data: JSON.stringify(jsonData),contentType: 'application/json'}).done(function(data) {
                    showStatus(data);
                  });
                  $( this ).dialog( "close" );
                },
                Cancel: function() {
                  $( this ).dialog( "close" );
                }
              }
            });
            // submit
          });
      });
          
          $(".places table tr").on( "click", ".delete", function() {
            var edit = $(this);
            var unionId = edit.next().text();
            // delete entity by unionId
            var overwriteTip = jQuery(
            '<div class="overwriteTip">' +
              'If you delete this record it may affect others who have used it. Do you wish to continue?' +
            '</div>');
            overwriteTip.dialog({
              resizable: false,
              height: "auto",
              width: 400,
              modal: true,
              buttons: {
                "Continue": function() {
                  $.ajax({type: 'POST', url:document.location.origin + "/settings/deletePlace", data: JSON.stringify({"unionId":unionId,"username":$(".to-index h1").text()}),contentType: 'application/json'}).done(function(data) {
                    showStatus(data);
                  });
                  $( this ).dialog( "close" );
                },
                Cancel: function() {
                  $( this ).dialog( "close" );
                }
              }
            });
            // delete annotations by unionId
          });
        }
      });
      // add new place
      function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
        });
      }
      var addNewPlace = jQuery('<div class="add-place"><div class="card-1"><div class="card-body">' +
            '<b class="title">Add Place </b><span style="font-size:12px; color:gray;">Fileds with * are required</span>'+
            '<div class="input-group"><input class="input--style-1 title2" type="text" placeholder="Place Name*" required></div>'+
            '<div class="input-group"><input class="input--style-1 latitude" type="text" placeholder="Latitude*" required></div>'+
            '<div class="input-group"><input class="input--style-1 longitude" type="text" placeholder="Longitude*" required></div>'+'<div class="input-group"><input class="input--style-1 uri" type="text" placeholder="URI"></div>'+'<div class="input-group"><input class="input--style-1 country" type="text" placeholder="Country Code"></div>'+'<div class="input-group"><input class="input--style-1 description" type="text" placeholder="Description"></div>'+
            '<div class="input-group"><input class="input--style-1 js-datepicker startDate" type="text" placeholder="Timespan Start yyyy-mm-dd"></div>'+
            '<div class="input-group"><input class="input--style-1 js-datepicker2 endDate" type="text" placeholder="Timespan End yyyy-mm-dd"></div>'+'<div class="input-group"><input class="input--style-1 altNames" type="text" placeholder="Alternate Names"></div>'+
            '<div class="p-t-20"><button class="btn btn--radius btn--red btn-cancel-place">Cancel</button>'+
            '<button class="btn btn--radius btn--green add-place-submit">Submit</button></div>'+
            '</div></div></div>'+
          '</div>');
      addNewPlace.on( "click", ".btn-cancel-place", function() {
        $(this).closest('.ui-dialog-content').dialog('close');
      });
      $(".btn-add-place").click(function(){
        addNewPlace.dialog();
        addNewPlace.on('click', '.add-place-submit', function() {
        var title = addNewPlace.find(".title2").val(),
        from = addNewPlace.find(".startDate").val(),
        to = addNewPlace.find(".endDate").val(),
        lat = addNewPlace.find(".latitude").val(),
        lon = addNewPlace.find(".longitude").val(),
        uri = addNewPlace.find(".uri").val(),
        country = addNewPlace.find(".country").val(),
        description = addNewPlace.find(".description").val(),
        altNames = addNewPlace.find(".altNames").val();
        if (!uri) uri = "http://www.tlcmap.org/" + uuidv4();
        var jsonData = {'title':title, 'lat':parseFloat(lat), 'lon':parseFloat(lon), 'from': from, 'to': to, 'uri':uri, 'country':country, 'description':description, 'altNames':altNames,'username':$(".to-index h1").text()};
        $.ajax({type: 'POST', url:document.location.origin + "/settings/createPlace", data: JSON.stringify(jsonData),contentType: 'application/json'}).done(function(data) {
          showStatus(data);
        });
      });
      });
      // import and export places
      function CSVtoArray(text) {
      // var re_valid =  /^\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*(?:,\s*(?:'[^'\\]*(?:\\[\S\s][^'\\]*)*'|"[^"\\]*(?:\\[\S\s][^"\\]*)*"|[^,'"\s\\]*(?:\s+[^,'"\s\\]+)*)\s*)*$/;
      var re_value =  /(?!\s*$)\s*(?:'([^'\\]*(?:\\[\S\s][^'\\]*)*)'|"([^"\\]*(?:\\[\S\s][^"\\]*)*)"|([^,"\s\\]*(?:\s+[^,'"\s\\]+)*))\s*(?:,|$)/g;
      // if (!re_valid.test(text)) return null;
      var a = [];                    
      text.replace(re_value,
          function(m0, m1, m2, m3) {
              if      (m1 !== undefined) a.push(m1.replace(/\\'/g, "'"));
              else if (m2 !== undefined) a.push(m2.replace(/\\"/g, '"'));
              else if (m3 !== undefined) a.push(m3);
              return ''; 
          });
      if (/,\s*$/.test(text)) a.push('');
      return a;
    };
    // load csv metadata
    function validateDate(dateString) {
      var reg = /^-?\d*[-\/]?\d*[-\/]?\d*$/;
      if (!reg.test(dateString)) return false;// only digits,-, and / are valid
      else if (!isNaN(dateString) || !dateString) return true;
      else if (dateString.indexOf("/")>=0) {
        var dateArr = dateString.split("/");
        var tmp = dateArr[0];
        dateArr[0] = dateArr[dateArr.length-1];
        dateArr[dateArr.length-1] = tmp;
        return dateArr.join("-");
      } else if (dateString.indexOf("-")>=0) {
        return dateString;
      } else return false;
    }
    $(".btn-import-place").click(function(){
      $("#csvBtn").click();
      $("#csvBtn").change(function(e){
        // console.log("test: "+e.target.files[0].name);
        if (e.target.files != undefined) {
          var overwriteTip = jQuery(
          // Simplified version for read-only mode
          '<div class="overwriteTip">' +
            'This will overwrite existing metadata for the texts listed in the CSV file. Consider downloading the metadata first. Do you wish to continue?' +
          '</div>');
          overwriteTip.dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
              "Continue": function() {
                var reader = new FileReader();
                var status = jQuery('<div class="status" title="Metadata import status:"></div>');
                $("#app").append(status);
                reader.onload = function(e) {
                  // var docHeader = ['Filename', 'Title', 'Author', 'Description', 'Language', 'Source', 'Edition', 'License', 'Attribution', 'StartDate', 'EndDate', 'PublicationPlace', 'Latitude', 'Longitude'];
                  // var Header = ['Filename', 'StartDate', 'EndDate'];
                  var lines = e.target.result.split('\r\n');
                  var header = lines[0].replace(/\"/g, "").split(",");
                  for (var i = 1; i < lines.length; ++i) {
                    var row = CSVtoArray(lines[i]);//.replace(/\"/g, "")
                    if (row.length > 1 && row[0].length>2) {
                      var doc = {};
                      for (var j = 0; j < row.length; ++j) {
                        doc[header[j]] = row[j];
                      }
                      doc['Latitude'] = parseFloat(doc['Latitude']);
                      doc['Longitude'] = parseFloat(doc['Longitude']);
                      if (validateDate(doc['StartDate']) && validateDate(doc['EndDate'])) {
                        if (doc['StartDate'] != true) doc['StartDate'] = validateDate(doc['StartDate'])
                        if (doc['EndDate'] != true) doc['EndDate'] = validateDate(doc['EndDate'])
                      $.ajax({type: 'POST', url:document.location.origin + "/settings/importPlaces", data: JSON.stringify(doc),contentType: 'application/json'}).done(function(data) {
                          // console.log( data + " " + textStatus );
                          if (data) $(".status").append("<p> "+($(".status").find("p").length+1)+". "+data);
                        }).fail(function(jqXHR, textStatus) {
                          $(".status").append("<p> "+($(".status").find("p").length+1)+". " +JSON.parse(this.data).Filename+": update annotations failed, please use the right date format (yyyy-mm-dd)");
                        });} else {
                        $(".status").append("<p> "+($(".status").find("p").length+1)+". " +row[0]+": invalid date format, please use the right date format (yyyy-mm-dd or dd/mm/yyyy)");
                      }
                    } else if (row.length > 0) {
                      $(".status").append("<p> "+($(".status").find("p").length+1)+". " +row[0]+": invalid row format");
                    }
                  }
                  $(".status").dialog({autoOpen: false,
                          maxWidth:400,maxHeight: 500,
                          width: 350,height: 400,
                          close: function(event, ui) {location.reload();
                   }});
                };
                reader.readAsText(e.target.files.item(0));
                $(".status").dialog();
                $("div.ui-dialog").css({overflow:"auto"});
                $( this ).dialog( "close" );
              },
              Cancel: function() {
                $( this ).dialog( "close" );
              }
            }
          });
          
        }
      });
    });

    // download csv metadata
    $(".btn-export-place").click(function(){
      $.ajax({type: 'POST', url:document.location.origin + "/settings/exportPlaces"}).done(function(data) {
        // console.log( "Data Loaded: " + data );
        var hiddenElement = document.createElement('a');
        hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(data);
        hiddenElement.target = '_blank';
        var username = $(".to-index h1").text();
        hiddenElement.download = username+'-places.csv';
        hiddenElement.click();
      });
    });
    </script>
  </body>
</html>
