@(
  user: services.user.User
)(implicit messages: Messages, flash: Flash, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>
<html>
  <head>
    <title>Place</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/settings/index.css")"/>
    @Html(webJarsUtil.script("1.12.0/jquery.min.js"))
  </head>

  <body>
    <div class="sidebar">
      @views.html.sidebarHeader(user.record)

      <ul class="menu">
        <li>
          <a href="@controllers.my.settings.routes.AccountSettingsController.index">
            <span class="label">@messages("account_settings.sidebar.account")</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.PasswordSettingsController.index" onclick="return false;">
            <span class="label">@messages("account_settings.sidebar.password")</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.RestoreController.index">
            <span class="label">@messages("account_settings.sidebar.restore")</span>
          </a>
        </li>

        <li class="active">
          <a href="#" onclick="return false;">
            <span class="label">Place</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="content">

      <div class="panel password-settings">
        <h2>Manage Places</h2>
        @flash.get("success").map { msg =>
          <div class="success flash-message"><span class="icon">&#xf00c;</span> @msg</div>
        }
        @flash.get("error").map { msg =>
          <div class="error flash-message"><span class="icon">&#xf00d;</span> @msg</div>
        }
        
        <div class="places">
          <table>
            <tr><td>#</td><td>Place Name</td><td>File Name</td></tr>
          </table>
        </div>
      </div>

    </div>
    <script type="text/javascript">
      var places = $(".places");
      $.ajax({type: 'POST', url:document.location.origin + "/settings/getPlaces", data: JSON.stringify({"username":$(".to-index h1").text()}),contentType: 'application/json'}).done(function(data) {
        // console.log( data + " " + textStatus );
        if (data.length > 0){
          var annotations = data;//JSON.parse(data)
          $.each(annotations, function(i, annotation) {
            $(".places table").append("<tr><td>"+(i+1)+"</td><td>"+annotation[0][1] + "</td><td>" + annotation[1][1]+"</td></tr>");
          });
        }
      })
    </script>
  </body>
</html>
