@(
  user: services.user.User
)(implicit messages: Messages, flash: Flash)
<!DOCTYPE html>
<html>
  <head>
    <title>Place</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/my/settings/index.css")"/>
  </head>

  <body>
    <div class="sidebar">
      @views.html.sidebarHeader(user.record)

      <ul class="menu">
        <li>
          <a href="@controllers.my.settings.routes.AccountSettingsController.index">
            <span class="label">@messages("account_settings.sidebar.account")</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.PasswordSettingsController.index" onclick="return false;">
            <span class="label">@messages("account_settings.sidebar.password")</span>
          </a>
        </li>

        <li>
          <a href="@controllers.my.settings.routes.RestoreController.index">
            <span class="label">@messages("account_settings.sidebar.restore")</span>
          </a>
        </li>

        <li class="active">
          <a href="#" onclick="return false;">
            <span class="label">Place</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="content">

      <div class="panel password-settings">
        <h2>Manage Places</h2>
        @flash.get("success").map { msg =>
          <div class="success flash-message"><span class="icon">&#xf00c;</span> @msg</div>
        }
        @flash.get("error").map { msg =>
          <div class="error flash-message"><span class="icon">&#xf00d;</span> @msg</div>
        }
        
        <div class="places"></div>
      </div>

    </div>
    <script type="text/javascript">
      var places = $(".places");
      $.ajax({type: 'POST', url:document.location.origin + "/api/document/loadCsv", data: JSON.stringify(doc),contentType: 'application/json'}).done(function(data) {
        // console.log( data + " " + textStatus );
        if (data) $(".status").append("<p> "+($(".status").find("p").length+1)+". "+data);
      })
    </script>
  </body>
</html>
